@import url(style.css);

/* Estilos de datos del formulario columna 1 */
.contact-section {
    padding: 40px 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilos para la sección de información de contacto */
.contact-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h4 {
    margin-bottom: 10px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-icon img {
    border-radius: 50%;
    background-color: #eeeeee;
}

.contact-text h6 {
    margin: 0;
}

.contact-text a {
    color: #FA0082;
    text-decoration: none;
}

.contact-text a:hover {
    text-decoration: underline;
}

/* Estilos para el formulario de contacto */
.contact-form {
    background-color: #FFA3D3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form h4 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group textarea {
    resize: vertical;
}

.btn-submit {
    background-color: #FFB100;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #Fa0082;
    color: #000000;
}

/* Estilos para la sección del mapa */
.map-section {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-title {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}